body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange {
    color: orange;
}

#header {
    display: flex;
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
}

.left-col {
    width: 50%;
    margin-left: 5%;
    padding-left: 2%;
}

.right-col {
    width: 50%;
    margin-left: 5%;
    padding-left: 2%;
}

.right-col img {
    width: 80%;
    ;
}

button {
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 15px 40px;
    border-radius: 5px;
    border: none;

}

button a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}